@import 'Global.css';

body, * {
    font-family: IRANSans !important;   
  }
  div.icon > a > div {
      font-size: 10px;
  }
  
  div#headerCredit {
      margin: 7px;
      padding: 4px;
      font-size: 20px;
  }
  
  div.gray#headerCredit {
      background: #f0f0f0;
      border-right: 2px solid gray;
  }
  div.blue#headerCredit {
      background: #cee1fa;
      color: #0088cc;
      border-right: 2px solid #0073ea;
  }
  div.green#headerCredit {
         background: #caffcc;
          color: green;
      border-right: 2px solid #00b147;
  }
  div.red#headerCredit {
      background: #ffe8ed;
      color: #e83949;
      border-right: 2px solid #ff4f98;
  }
  div.yellow#headerCredit {
      background: #f9ffca;
      color: #747b04;
      border-right: 2px solid #bac510;
  }
  div.orange#headerCredit {
      background: #ffedcc;
      color: #e08a30;
      border-right: 2px solid #e4812b;
  }
  #headerCreditValue{
      font-weight: bold;
          direction: ltr;
      display: inline-block;
  }
  .blue ul.mega-menu li a{
   background : none !important;   
  }
  .blue ul.mega-menu{background: none !important;}

body{
    background: url("../Images/wall.jpg") !important;
    background-size: cover !important;
}

  body#login div div div > table[border="0"] {
    background-image: url("../Images/Food_New/Food Guilan Login.png") !important;
    background-size: 424px 290px !important;
    opacity: 0.9;
    box-shadow: 0px 0px 13px 0px !important;
  }

  body#login > div:nth-of-type(3) {
    background: url("../Images/wall.jpg") !important;
    background-size: cover !important;
    }

  .login_message {
    margin-top: 13px;
    opacity: 0.9;
}

div#copyright-dab{
    opacity:0.9;
}

img.ui-icon-home{
    width: auto !important;
    margin-right: 15px;
}

input#login_btn_submit {
    border-radius: 0px !important;
    box-shadow: none !important;
    border: none !important;
    background: #0088cc;
    color: white;
    width: 100px !important;
    height: 30px !important;
    margin-right: 195px !important;
    margin-top: -18px !important;
}

.login_message .main_body p {
    margin-right: 80px !important;
}

.web-tools-alert {
    background: #dedede;
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #c6c6c6;
    font-size: 19px;
    margin-bottom: -17px;
}

.web-tools-alert.wt-success {
    background: rgb(146, 243, 187);
    border-bottom: 1px solid #1ae678;
    color: #1e834a;
}

.web-tools-alert.wt-error{
    background: rgb(255, 224, 224);
    border-bottom: 1px solid #f3b0b6;
    color: #ba1313;
}

.web-tools-alert.wt-warn{
    background: rgb(255, 254, 224);
    border-bottom: 1px solid #f2f3b0;
    color: #91a00d;
}

/* Main Bg */
table.header {
    background: #fffc;
    border-bottom: 1px solid white;
}

.border_right, .border_left, .header_left, .header_tight{
    background: none !important;
}


table.footer {
    visibility: hidden;
}