@import 'Global.css';

@keyframes fadeAnim {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
@-moz-keyframes fadeAnim {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
@-webkit-keyframes fadeAnim {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
.refreshDash {
    background: #cae7ff none repeat scroll 0 0;
    border: 1px solid #93beff;
    border-radius: 50%;
    color: #0088cc;
    cursor: pointer;
    float: none;
    font: bold 22px "B Nazanin";
    margin: 2px;
    padding: 1px 13px;
    text-decoration: none;
}
img[alt="time_out"] {
    animation: 1s ease-in 0s normal none infinite running fadeAnim;
    -webkit-animation: 1s ease-in 0s normal none infinite running fadeAnim;
    -moz-animation: 1s ease-in 0s normal none infinite running fadeAnim;
}
#box_Content {
    background: white;
    border: 1px solid #d9d9d9;
    box-shadow: 1px 1px 1px #b1b1b1;
}
.box_Content {
    border: 1px solid #d0d0d0;
    box-shadow: 1px 1px 1px lightgray;
    background: white;
}
#Content_User {
    background: transparent;
    margin: 18px 0 0 0;
}
.field-content-radius {
    border-radius: inherit;
}
#ReqBtn {
    border-radius: 0;
    height: 50px;
    width: 150px;
    transition-duration: 0.2s;
}
#user_Content {
    border-radius: 0;
    box-shadow: 0;
    border: none;
    background: white;
}
body,
a,
p,
td,
th,
input,
span,
div.borderItemText,
h1,
h2,
h3,
h4,
h5,
h6,
div,
select,
td span,
text tspan,
select option,
ul#ContextMenu li,
.mxgrid_header th {
    font-family: IRANSans !important;
}
td,
a,
table,
tbody,
span {
    transition-duration: 0.5s !important;
}
.form-image-library {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #bababa;
    box-shadow: 1px 1px 1px #cbcbcb;
    margin: 7px 0;
}
#contentMainContainer {
    min-height: 89vh;
}
input.button {
    height: 30px !important;
}
#form_content {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #c6c6c6;
    box-shadow: 1px 1px 1px #cbcbcb;
}
#button_holder {
    background-color: #ffffff;
    border: 1px solid #cfdef1;
    height: 30px;
    margin: 12px 10px;
}
#button_holder input.button {
    float: left;
}
.field-content-large {
    background: white none repeat scroll 0 0;
    border: 1px solid #a4a4a4;
    box-shadow: 1px 1px 1px #bababa;
    float: right;
    height: 35px;
    margin: 4px 0;
    width: 596px;
}
#contentMainContainer a {
    border: 1px solid rgba(255, 255, 255, 0) !important;
    transition-duration: 0.3s !important;
    ;
}
#contentMainContainer a:hover {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
}
#contentMainContainer hr {
    border-bottom: 1px solid #c5c5c5;
}
#mxgrid_table_container {
    height: 100%;
}
#tabTitleContainer div,
#userInfoContainer,
#titleContainer,
#contentContainer,
#contentMainContainer,
#MXMESSAGE_DIV {
    border-radius: 0px;
}
#MXMESSAGE_DIV {
    background: rgba(0, 0, 0, 0.5) !important;
}
.margin15 {
    background: white;
}
#screenMaskMessageDetail,
#screenMaskMessageReplyWindow {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    box-shadow: none !important;
    width: 700px !important;
    background-color: rgb(239, 239, 239) !important;
    z-index: 1001 !important;
    border: 1px solid rgb(189, 189, 189) !important;
    height: 430px !important;
}
#Detail_titleBar span {
    font-size: 11px;
    margin-top: 5px;
}
#Detail_iframe,
#ReplyWindow_iframe {
    width: 676px !important;
    height: 382px !important;
    background-color: #FFF !important;
    margin-left: 5px !important;
    margin-right: 12px !important;
    margin-top: 5px !important;
    border: 1px solid rgb(215, 215, 215);
}
#MXMESSAGE_DIV span {
    text-align: center !important;
    ;
    font-size: 11px !important;
    ;
}
body {
    background: transparent url("../Images/ERP_BG.png") repeat scroll 0% 0%;
}
#titleContainer {
    background: lightblue url("../Images/ERP_MainTitle.png") repeat scroll 0% 0% !important;
    border: 1px solid #ADADAD;
}
#contentContainer {
    background: url("../Images/ERP_BgSky.png") repeat-x scroll 0% 0%, url("https://www.mozilla.org/media/img/sandstone/grain.855f29e0c686.png") repeat scroll 0% 0%, #EEE none repeat scroll 0% 0%;
    border: 1px solid #AEAEAE;
}
#contentMainContainer {
    background: #EDF4FF url("../Images/ERP_BgKashi.png") repeat scroll 0% 0%;
}
#userInfoContainer {
    opacity: 0.8 !important;
    margin-top: 2px;
    border: 1px solid #BFC0C0;
}
#userInfoTitle {
    color: #787878;
    font-size: 12px;
}
#screenMaskMessageMXCONFIRM_DIALOG {
    border-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    ;
    border-bottom-right-radius: 0 !important;
    ;
    background-color: #ffffff !important;
    ;
}
#tabTitleContainer div.active {
    opacity: 0.9 !important;
    border: 1px solid #BFC0C0;
}
#tabTitleContainer > div {
    width: 200px !important;
    ;
}
#tabTitleContainer > div > a {
    width: 180px !important;
}
#tabTitleContainer > div > a > span {
    width: 140px !important;
    ;
}
#tabTitleContainer div span {
    color: #989898;
}
#tabTitleContainer .close {
    background-position: left top;
    left: 2px;
}
#tabTitleContainer .close:hover {
    background-position: left bottom;
    left: 2px;
}
#tabTitleContainer > div > a.close {
    width: 15px !important;
}
div#mxgrid_table_container {
    height: 100% !important;
}
#contentSidebarContainer li.selected {
    background: rgba(255, 255, 255, 0.7);
}
#contentSidebarContainer li.unactive_selected {
    background: none;
}
#contentMainContainer {
    border: 1px solid #B6B9BC;
}
#contentSidebarContainer {
    margin-top: 12px;
}
#contentSidebarContainer li {
    border-bottom: 1px solid #C2C2C2;
    margin-bottom: 0px;
}
#tabTitleContainer {
    margin-top: 2px;
}
#tabTitleContainer div {
    border: 1px solid #43A7E0;
}
#titleButtonsAndInfo {
    width: 135px;
    margin-top: 2px;
}
#btnLogout:hover {
    background: red;
    transition-duration: 0.5s;
}
#btnLogout {
    width: 80px;
    border: 1px solid #D21A4E;
}
#userInfoImage {
    opacity: 0.8;
    width: 27px;
    height: 27px;
    margin: 1px;
}
.itemLoading {
    margin-right: 20px;
}
#contentMainContainer a {
    border: 1px solid rgba(255, 255, 255, 0);
}
#contentMainContainer a:hover {
    border: 1px solid #B7D4FF;
}
#screenMaskMessage {
    border-radius: 0px 0px 0px 0px !important;
}
#btnRefresh {
    /* background: transparent url("http://bayanbox.ir/view/3188471815563789562/Repeat-29.png") no-repeat scroll center top; */
}
div.button_holder {
    text-align: center;
    height: 35px;
}
div.button_holder input[type="button"],
div.button_holder_simple input[type="button"] {
    font: 11px tahoma;
    transition-duration: 0.5s;
    border: 1px solid rgb(182, 182, 182);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    height: 36px !important;
    font: 11px tahoma;
    width: 400px;
}
div.button_holder input:hover,
div.button_holder_simple input:hover {
    border: 1px solid #FFDCBA;
    background: #FFF7DC none repeat scroll 0% 0%;
}
div.button_holder input[style="float:right;"],
div.button_holder input[style="float:left;"] {
    width: 200px !important;
}
div.boardItem {
    width: 500px;
    display: table;
    margin-left: 8px;
    margin-bottom: 8px;
    float: right;
    border: 1px solid rgb(183, 183, 183);
}
div.boardItem h2 {
    background-color: #F3F3F3;
    border-bottom: 1px solid #E4E4E4;
}
div.boardItem h2 span {
    font-size: 11px;
    font-weight: normal;
}
div.boardItem h2 {
    font-size: 11px;
}
div.borderItemText,
.borderItemText,
div.borderItemText *,
div.borderItemText p {
    font-size: 11px !important;
}
.borderReplyItemText {
    font-size: 11px !important;
    margin-top: 5px;
}
ul.boardPager li a {
    background-color: #EDEDED;
    border: 1px solid #D4D4D4;
    transition-duration: 0.2s;
}
ul.boardPager li a:hover {
    background: white;
}
ul.boardPager li {
    cursor: default
}
div.boardItem h3 input {
    float: left;
    width: 121px;
    height: 32px;
    font-family: IRANSans;
    font-size: 12px;
    background: #F6F6F6;
    border: 1px solid #B4B3B3;
    cursor: pointer;
    transition-duration: 0.3s;
}
div.boardItem h3 input:hover {
    background: #DEDEDE;
}
div.boardItem h3 a {
    margin-top: -5px;
}
div.boardItem h3 {
    font-size: 11px;
}
div.boardItem h3 a {
    color: #0088cc;
}
#screenMaskMessage {
    position: fixed;
    background-color: rgb(252, 252, 252) !important;
    ;
    z-index: 1001;
    border: 1px solid rgb(173, 173, 173) !important;
    ;
    width: 440px !important;
    ;
    box-shadow: none !important;
    ;
    border-bottom-right-radius: 0px !important;
    ;
    border-bottom-left-radius: 0px !important;
    ;
    left: 33% !important;
    ;
    top: 273px;
}
div.MXConfirm p {
    text-align: center;
    font-size: 12px;
}
#screenMaskMessage .dialog_title {
    height: 22px;
    background-color: #3587AD;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    font-family: IRANSans;
    padding: 6px 7px 3px 0px;
    width: 433px;
}
div.MXAlert {
    font-family: IRANSans;
    font-size: 11px;
    font-weight: no;
    color: #000;
    cursor: default;
    margin-right: 3px;
}
a.MXConfirmButton,
a.MXCancelButton {
    width: 100px;
    border: 1px solid rgb(167, 167, 167);
    font-size: 11px;
    font-weight: normal;
    line-height: 25px;
    margin: 5px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    transition-duration: 0.2s;
    float: left !important;
}
a.MXCancelButton {
    float: right !important;
}
a.MXConfirmButton:hover,
a.MXCancelButton:hover {
    background-color: rgb(255, 255, 255);
}
.insert-grid {
    background: transparent url("../Images/ERP_Add.png") no-repeat scroll center top;
    transition-duration: 0.3s;
}
.delet-grid,
.Retro-grid,
.D-grid,
.G-grid,
.delet-disable {
    background: transparent url("../Images/ERP_Remove.png") no-repeat scroll center top;
    transition-duration: 0.3s;
}
#btnAkhz {
    transition-duration: 0.3s;
}
table.mxgrid tr:hover {
    background-color: #F2F2F2 !important;
    cursor: pointer;
}
table.mxgrid tr.selected {
    background-color: #EAEEFF !important;
}
table.mxgrid tr[style="background-color: rgb(174, 253, 170);"] {
    background-color: rgb(208, 255, 206);
}
#tabTitleContainer,
#titleButtonsAndInfo {
    width: auto !important;
}
#siteTitleTextInfo {
    color: #FFF;
}
a#ChangeLang:link {
    color: #e6ebf3;
}
.field-title,
.field-form2 .field-title {
    font-family: IRANSans !important;
}
#mainForm #box_Content span#content p span {
    font-size: 12px !important;
    text-align: justify;
}